// ==========================================================================
// Icons
// -------------
// - Main application icons based on svg sprites
// ==========================================================================


// Icons sizes
// ==========================================================================

.icon // Base class
  width: 45px


// Variations

.icon--hard-drive,
.icon--ram
  width: 64px
  height: 64px
    

.icon--logo
  width: 37px
  
.icon--logout
  width: 32px


