.navbar.clearfix
    a.logo.left(href="#home")
        svg(viewBox="0 0 120 120", xmlns="http://www.w3.org/2000/svg", class="icon icon--logo")
          use(xlink:href="img/sprites.svg#icon-happycloud")
        span beta
    #menu-applications-container.left

    a#logout-button.right(href="#logout")
        span=t('logout')
        svg(viewBox="0 0 120 120", xmlns="http://www.w3.org/2000/svg", class="icon icon--logout")
            use(xlink:href="img/sprites.svg#icon-logout")
    .right#notifications-container
